.check {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subt {
  font-size: 1.3rem;
  line-height: 1.76;
  font-weight: 500;
  color: var(--subt-color);
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.3rem 1.2rem 1.6rem;
  background-color: var(--bg-color);
  border-radius: 0.4rem;
}
.item:hover {
  cursor: pointer;
  background-color: var(--check-hover);
}
.item img {
  display: none;
  margin-top: 0.1rem;
  margin-right: 0.06rem;
}
.checker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.2rem;
  background-color: var(--check-bg);
  border: var(--check-line);
  flex-shrink: 0;
}
.checked .checker {
  background-color: var(--primary-color);
}
.checked img {
  display: block;
}
.checked .checkSubt {
  text-decoration: line-through;
  color: var(--subt-color);
}
.wrap {
  position: relative;
}
.wrap img {
  flex-shrink: 0;
}
.wrap:hover {
  cursor: pointer;
}
.wrapList {
  position: absolute;
  width: 19.2rem;
  right: -2.5rem;
  top: 200%;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  box-shadow: var(--card-shadow);
}
.wrapItem {
  font-size: 1.3rem;
  line-height: 1.76;
  font-weight: 500;
  color: var(--subt-color);
}
.wrapItem:hover {
  cursor: pointer;
  color: var(--title-color);
}
.delete {
  color: var(--btn-des);
}
.delete:hover {
  color: red;
}
