@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 0px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
:root {
  --primary-color: #635fc7;
  --primary-color-hv: rgba(99, 95, 199, 0.1);
  --main-color: #a8a4ff;
  --black: #000112;
  --second-black: #20212c;
  --third-black: #2b2c37;
  --fourth-black: #2b2c37;
  --gray: #828fa3;
  --middle-gray: #e4ebfa;
  --light-gray: #f4f7fd;
  --white: #fff;
  --red: #ea5555;
  --bg-color: #f4f7fd;
  --wrap-bg-color: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );
  --navbar-color: var(--white);
  --card-color: var(--white);
  --card-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
  --light-right: #ff9898;
  --btn-pri-L: #635fc7;
  --btn-pri-S: #635fc7;
  --btn-pri-L-hr: #a8a4ff;
  --btn-pri-S-hr: #a8a4ff;
  --btn-sec: rgba(99, 95, 199, 0.1);
  --btn-sec-hover: rgba(99, 95, 199, 0.25);
  --btn-des: #ea5555;
  --btn-des-hr: #ff9898;
  --btn-pri-text: #fff;
  --btn-sec-text: #635fc7;
  --btn-des-text: #fff;
  --title-color: #000112;
  --subt-color: #828fa3;
  --line-color: #e4ebfa;
  --modal-bg: rgba(0, 0, 0, 0.5);
  --input-line: rgba(130, 143, 163, 0.25);
  --check-bg: #fff;
  --check-line: 1px solid rgba(130, 143, 163, 0.25);
  --check-hover: rgba(99, 95, 199, 0.25);
}

.dark {
  --bg-color: #20212c;
  --btn-sec: #ffffff;
  --btn-sec-hover: #ffffff;
  --wrap-bg-color: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.25) 0%,
    rgba(43, 44, 55, 0.13) 100%
  );
  --navbar-color: var(--fourth-black);
  --card-color: var(--fourth-black);
  --card-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
  --title-color: #ffffff;
  --subt-color: #828fa3;
  --line-color: #3e3f4e;
  --check-bg: #2b2c37;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: var(--title-color);
  line-height: normal;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
  letter-spacing: 2.4px;
  color: var(--subt-color);
}
p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
  color: var(--title-color);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.button {
  font-size: 1.5rem;
  line-height: normal;
  background-color: var(--btn-pri-L);
  color: var(--btn-pri-text);
  border-radius: 2.4rem;
  border: none;
  padding: 1.4rem 2.4rem;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
.root-provider {
  height: 100%;
  font-family: var(--jakarta);
  background-color: var(--bg-color);
}
/* @media (prefers-color-scheme: dark) {} */
