.title {
  color: var(--red);
}
.subtitle {
  color: var(--subt-color);
  font-weight: 500;
  line-height: 2.3rem;
}
.wrap {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 0.8rem;
}
@media (max-width: 650px) {
  .wrap {
    flex-direction: column;
  }
}
